
* {
    box-sizing: border-box;
}

body {
    font-family: Arial Black, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.texto {
    font-size: 3rem;
}

.l-app {
    height: 100vh;
    margin: 0 auto;
    padding: 50px 25px;
    width: 80vw;
}

.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    position: absolute;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
}

[class ^= 'c-form__'] {
    display: block;
    width: 100%
}

.c-form__campo {
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 10px 5px;
}

.c-form__botao {
    background-color: orangered;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    padding: 10px 5px;
    cursor: pointer;
}

.c-form__botao:disabled {
    background-color: rgba(255, 68, 0, .6);
}

.u-my {
    margin: 10px 0;
}